/* This below is to make color contrast more accessible on 8.6.24 */
.dafooter a {
    color: #0256D4;
}

.nav-link.dropdown-toggle:hover, nav-link.dropdown-toggle:visited {
    color: #b3adad
}

.nav-link.dropdown-toggle {
    color: #F0F0F0;
}

.da-form-group.darequired .da-form-label:after {
    position: absolute;
    content: '*';
    color: #e11717;
}

.labelauty-unchecked a {
    color: #0256D4;
}

.labelauty-checked a {
    color: #ffffff;
}

.card.card-body.pb-1.bg-light a {
    color: #0256D4;
}


/* This below is just for the VTCourtFormsRootPage */
.article_title {
  font-weight: bold;
  font-size: 130%;
  text-align: center;
  color: #861e36;
}
.btn-da-custom svg { 
  height: 2.5em !important;
}
/* This below is used to indent "show if" subquestions on certain pages */
.indent-me-container {
    background-color: #fff;
    margin-left: 3rem;
    padding-left: 4rem;
}
/* This below eliminates the dotted underline for green collapse template text  */
.al_collapse_template a.al_toggle,
.al_display_template a.al_toggle {
    color: #3b842c;
    text-decoration-style: solid; !important;
    text-decoration-line: underline;
}
.bg-dark {
  background-color: #1f455c !important;  /* nav bar color */
}
.da-form-group .da-form-label, 
.da-subquestion,
input.labelauty+label,
.da-form-group.row.da-field-container.da-field-container-note,
.nav.flex-column.nav-pills.danav.danav-vertical.danavlinks {
    font-size: 1.1rem;
}
.border-around-text {
    border: 1px solid;
    border-radius: 10px;
    border-color: #092a69;
    box-shadow: 2px 2px 8px #69868e;
    padding: 18px 12px 12px 18px;
    margin: 16px 0px 24px 0px;
}
.title-row-1 {
    font-size: 1.1rem;
    font-weight: normal;
}
.al-title {
    line-height: 1.2em;
}
.fa-2x {
    font-size: 2em;
    color: #1f455c;
    margin-right: 10px;
}
.fa-3x {
    font-size: 3em;
    color: #1f455c;
    margin-right: 10px;
}
.daicon {
    box-shadow: 2px 2px 8px #69868e;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 1.2rem;
    --bs-btn-border-radius: 0.25rem;
}
#####side navigation -progress words- grey color and square background

.nav-pills {
    --bs-nav-pills-link-active-color: #797575;
    --bs-nav-pills-link-active-bg: #797575;
    --bs-nav-link-color: #797575;
    --bs-nav-link-hover-color: #797575;
    --bs-nav-link-disabled-color: #797575;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.nav .flex-column .nav-pills .danav .danav-vertical .danavlinks .nav-link {
    color: #797575;
}
.nav-link .danavlink {
    color: #797575;
    --bs-nav-link-color: #797575;
}
.nav-link .danavlink .nav-link:focus, .nav-link:hover, .nav-link:visited {
    color: #797575;   
}
.nav-link .danavlink .nav-link:focus, .nav-link:hover, .nav-link:visited {
    color: #797575;   
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #797575;
}
.nav-pills .nav-link {
    color: #797575;
}